//====================================================================================================
.header {
    position: fixed;
    background: $mainWhite;
    padding: 10px 0px;
    z-index: 50;
    top: 0;
    left: 0;
    width: 100%;
    &._header-scroll {
        position: fixed;
        top: -200%;
        background-color: rgba(0, 0, 0, 0.8);
    }
    &._header-show {
        top: 0;
        transition: transform 0.3s ease 0s;
    }
    // .header__container
    &__container {
        display: flex;
        position: relative;
        align-items: center;
        gap: 10px;
        @media (max-width: $mobile) {
            gap: 10px;
        }
        &_wide {}
        ._header-scroll & {
            @include adaptiveValue("min-height", 80, 50);
        }
    }
    // .header__column
    &__column {
        flex-grow: 0;
        flex-shrink: 0;
        @include adaptiveValue("flex-basis", 320, 220, 1330, 768, 2);
        &_wide {
            flex: 1 1 auto;
        }
        &_auth {
            align-self: stretch;
        }
    }
    // .header__logo
    &__logo {
        @extend %cuf;
        position: relative;
        z-index: 2;
        font-weight: 700;
        line-height: 130%;
        letter-spacing: 0.04em;
        text-transform: uppercase;
        @include adaptiveValue("font-size", 44, 35, 1330, 768, 1);
        @media (max-width: $mobile) {
            font-size: 20px;
        }
    }
    // .header__menu
    &__menu {}
    // .header__auth
    &__auth {}
}

.menu {
    // .menu__icon
    &__icon {}
    // .menu__body
    &__body {
        @media (max-width: $mobile) {
            position: fixed;
            overflow: auto;
            width: 100%;
            height: 100%;
            top: 0;
            left: -100%;
            transition: left 0.3s ease 0s;
            background-color: $mainWhite;
            @include adaptiveValue("padding-top", 170, 100);
            padding-bottom: rem(30);
            padding-left: rem(15);
            padding-right: rem(15);
            &::before {
                content: "";
                position: fixed;
                width: 100%;
                @include adaptiveValue("height", 171, 100);
                top: 0%;
                left: -100%;
                transition: top 0.3s ease 0s;
            }
            .menu-open & {
                left: 0;
                &::before {
                    content: "";
                    left: 0;
                }
            }
            &._active {
                left: 0;
                &::before {
                    left: 0;
                }
            }
        }
    }
    // .menu__list
    &__list {
        display: flex;
        row-gap: 5px;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        @include adaptiveValue("column-gap", 32, 15, 1330, 768, 1);
        @media (max-width: $mobile) {
            flex-direction: column;
            &:not(:last-child) {
                margin-bottom: rem(50);
            }
        }
    }
    // .menu__item
    &__item {
        @media (max-width: $mobile) {
            width: 100%;
            text-align: center;
        }
    }
    // .menu__link
    &__link {
        line-height: 175%;
        letter-spacing: 0.04em;
        @media (any-hover: hover) {
            &:hover {
                color: $mainYellow;
            }
        }
        @media (max-width: $mobile) {
            font-size: rem(20);
            text-align: center;
        }
    }
}

.icon-menu {
    display: none;
    @media (max-width: $mobile) {
        @include adaptiveValue("margin-left", 32, 15, 1);
        position: relative;
        display: block;
        flex: 0 0 30px;
        height: 18px;
        cursor: pointer;
        z-index: 5;
        span {
            position: absolute;
            width: 20px;
            height: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
            top: -10px;
            right: -10px;
            border-radius: 50%;
            background-color: $orangeColor;
            color: #fff;
            font-size: 12px;
        }
        &._active {
            &::before {
                transform: rotate(-45deg);
                top: calc(50% - 1px);
            }
            &::after {
                transform: rotate(45deg);
                bottom: calc(50% - 1px);
            }
            span {
                transform: scale(0);
            }
        }
    }
}

.auth-header {
    display: flex;
    row-gap: 5px;
    align-self: stretch;
    justify-content: center;
    height: 100%;
    @include adaptiveValue("column-gap", 50, 20, 1330, 1150, 1);
    @media (max-width: em(1150)) {
        flex-direction: column;
        align-items: flex-end;
    }
    @media (min-width: em(1150)) {
        justify-content: flex-end;
    }
    @media (max-width: $mobileSmall) {
        align-items: center;
    }
    // .auth-header__item
    &__item {
        position: relative;
        display: flex;
        align-items: center;
        @media (min-width: em(1150)) {
            &:not(:last-child) {
                &::before {
                    content: "";
                    position: absolute;
                    top: 0;
                    @include adaptiveValue("right", -24, -10, 1330, 1150, 1);
                    width: 1px;
                    height: 100%;
                    background: linear-gradient( to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 38%, rgba(255, 255, 255, 1) 52%, rgba(255, 255, 255, 1) 55%, rgba(255, 255, 255, 1) 69%, rgba(255, 255, 255, 0) 100%);
                    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
                }
            }
        }
    }
    // .auth-header__link
    &__link {
        font-weight: 600;
        line-height: 175%;
        letter-spacing: 0.05em;
        text-transform: capitalize;
        text-align: center;
        @media (any-hover: hover) {
            &:hover {
                color: $mainYellow;
            }
        }
        @media (max-width: $mobileSmall) {
            font-size: rem(14);
        }
    }
}

//====================================================================================================
//Burger
.icon-menu {
    display: none;
    @media (max-width: $mobile) {
        display: block;
        position: relative;
        flex: 0 0 rem(40);
        height: rem(22.5);
        cursor: pointer;
        z-index: 5;
        span,
        &::before,
        &::after {
            content: "";
            transition: all 0.3s ease 0s;
            right: 0;
            position: absolute;
            width: 100%;
            height: rem(2);
            background-color: $mainColor;
        }
        &::before {
            top: 0;
        }
        &::after {
            bottom: 0;
        }
        span {
            top: calc(50% - rem(1));
        }
        .menu-open & {
            span {
                width: 0;
            }
            &::before,
            &::after {}
            &::before {
                top: calc(50% - rem(1));
                transform: rotate(-45deg);
            }
            &::after {
                bottom: calc(50% - rem(1));
                transform: rotate(45deg);
            }
        }
    }
}