@use "sass:math";
// Подключение миксинов ===========================================================================================================================================================================================================================================================================
@import "mixins";
// Подключение шрифтов ===========================================================================================================================================================================================================================================================================
//&display=swap - добавить при подключении через плагин
@import url("https://fonts.googleapis.com/css?family=Open+Sans:regular,600,italic&display=swap");
// Шрифт по умолчанию ==============================================================================================================================================================================================================================================================================
$fontFamily: "Open Sans",
sans-serif;
$fontSize: rem(16); // где 14(px) - размер шрифта по умолчанию из макета
%cuf {
    font-family: CormorantUpright;
}

// Основные цвета
$mainColor: #272929; // Цвет шрифта по умолчанию
$orangeColor: #2a276e;
$darkGrayColor: #272929;
$mainGrey: #3b3e42;
$mainYellow: #f1cb14;
$mainWhite: #ffffff;
// НАСТРОЙКИ ===============================================================================================================================================================================================================================================================================================
// Минимальная ширина страницы
$minWidth: 320;
// Ширина полотна (макета)
$maxWidth: 1920;
// Ширина ограничивающего контейнера (0 = нет ограничения)
$maxWidthContainer: 1300;
// Общий отступ у контейнера
// (30 = по 15px слева и справа, 0 = нет отступа)
$containerPadding: 30;
// Ширина срабатывания первого брейкпоинта
$containerWidth: $maxWidthContainer+$containerPadding;
// Брейк-поинты
$pc: em( $containerWidth); // ПК, ноутбуки, некоторые планшеты в горизонтальном положении
$tablet: em(991.98); // Планшеты, некоторые телефоны в горизонтальном положении
$mobile: em(767.98); // Телефоны L
$mobileSmall: em(479.98); // Телефоны S
// Тип адаптива:
// 1 = отзывчивость (у контейнера нет брейкпоинтов),
// 2 = по брейк-поинтам (контейнер меняет свою ширину по брейк-поинтам)
$responsiveType: 1;
// Обнуление и общие параметры ============================================================================================================================================================================================== =============================================================================================== ===============================================================================================
@import "_null.scss";
body {
    background-color: $mainWhite;
    // Скролл заблокирован
    .lock & {
        overflow: hidden;
        touch-action: none;
    }
    // Сайт загружен
    .loaded & {}
}

// Оболочка ============================================================================================================================================================================================================================================================================================================================================================================================================================================
.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    // Прижимаем footer
    >main {
        position: relative;
        z-index: 2;
        flex: 1 1 auto;
    }
    // Фикс для слайдеров
    >* {
        min-width: 0;
    }
}

// Ограничивающий контейнер ======================================================================================================================================================================================================================

/*
(i) Стили будут применяться ко 
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/

@if ($responsiveType==1) {
    // Отзывчивая
    [class*="__container"] {
        @if ($maxWidthContainer>0) {
            max-width: rem($maxWidthContainer);
            box-sizing: content-box;
            margin: 0 auto;
        }
        @if ($containerPadding>0) {
            padding: 0 rem(math.div($containerPadding, 2));
        }
    }
    [class*="__container_wide"] {
        max-width: rem(1680);
        padding-left: 15px;
        padding-right: 15px;
    }
}

@else {
    // По брейк-поинтам
    [class*="__container"] {
        margin: 0 auto;
        @if ($maxWidthContainer>0) {
            max-width: rem($maxWidthContainer);
            box-sizing: content-box;
        }
        @else {
            @if ($containerPadding>0) {
                padding: 0 rem(math.div($containerPadding, 2));
            }
        }
        @media (max-width: $pc) {
            max-width: rem(970);
        }
        @media (max-width: $tablet) {
            max-width: rem(750);
        }
        @media (max-width: $mobile) {
            max-width: none;
            @if ($containerPadding>0 and $maxWidthContainer>0) {
                padding: 0 rem(math.div($containerPadding, 2));
            }
        }
    }
}

// Page index ===========================================================================================================================================================================================================================================================================
@import "_home.scss";
@import "_header.scss";
@import "_fonts.scss";